#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 400;
  font-style: normal;
  background-color:#85C1E9;
}
.mainSection {
  flex-grow: 1;
}

.carrusel img {
  object-fit: cover;
  height: 495px;
  width: 100%;
}
.logo{
  border-radius: 1em;
  width: 40%;
}



